<launch> 
  
    <arg name="dock"  default="false" /> 
    <param name="activate_dock" type="bool" value="$(arg dock)" />

    <include file="$(find kobuki_auto_docking)/launch/minimal.launch" if="$(arg dock)"/>

    <node name="navigation_goals" pkg="mopad_navigation" type="navigation" output="screen">
    </node>

</launch>
