<?xml version="1.0"?>
<robot name="rplidar_sim" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="rplidar_sim">
  <gazebo reference="rplidar">
    <sensor type="gpu_ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>5.5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>0.5</resolution>
            <min_angle>-3.151592654</min_angle>
            <max_angle>3.151592654</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.15</min>
          <max>12</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
        <topicName>/uvone/laser/scan</topicName>
        <frameName>rplidar</frameName>
      </plugin>
    </sensor>
  </gazebo>
</xacro:macro>
</robot>