<?xml version="1.0"?>
<robot name="uvone" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find uvone_robot_description)/urdf/include/rplidar.urdf.xacro" />
  <xacro:include filename="$(find uvone_robot_description)/urdf/include/astra.urdf.xacro" />

  

  <!-- Base Kobuki -->
  <xacro:kobuki/>



  <!-- RPlidar frame -->
  <joint name="rplidar_joint" type="fixed">
    <origin rpy="0 3.1415926536 0" xyz="0.110 0 0.170" />
    <parent link="base_footprint"/>
    <child link="rplidar"/>
  </joint>

  <link name="rplidar">
  </link>
  <xacro:rplidar_sim/>



  <!-- Estructura 3D frame -->
  <joint name="estructura_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="estructura_link"/>
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>
  <link name="estructura_link">
    <visual>
      <geometry>
        <mesh filename="package://uvone_robot_description/meshes/Alpha.STL" scale="0.0010 0.0010 0.0010"/>
      </geometry>
      <origin rpy="1.570796272 0 1.570796272" xyz="-0.355 -0.235 0.055" />
      <material name="black">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
  </link>



  <!-- Camara astra -->
  <xacro:sensor_astra parent="base_link" posz="1.238"/>  <!-- Primer escalon: posz=0.718 --> <!-- Segundo escalon: posz=1.358 -->

</robot>
